<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property file="/fld/config/common.properties"/>
	<property name="service" value="testtwo"/>
	<contextName>${service}</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="SQLFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/${service}/sql-log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${log.path}/${service}/sql-log_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50}.%M:%L - %msg%xEx%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/${service}/${service}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${log.path}/${service}/${service}_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%xEx%n</pattern>
		</encoder>
	</appender>

	<appender name="commonlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/${service}/${service}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${log.path}/${service}/${service}_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%xEx%n</pattern>
		</encoder>
	</appender>

	<logger name="com.feiliks.hn.schedule.mapper" level="${sqllog.level}" additivity="false">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="SQLFILE"/>
	</logger>

	<root level="${log.level}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE"/>
	</root>
</configuration>